<style>

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

body {
    font-family: Didact Gothic, sans-serif;
    font-size: 120%;
    max-width: 40em;
    margin: 0px auto;
    padding: 0em 1em 1em 1em;
    line-height: 1.6;
}

</style>

<p>
    <h1>Sebastien Perez Vasseur</h1>
    <p>
        I am a creative and methodical with a passion for continuous improvement, problem solving and innovation. 
        I have 2 nationalities and lived in 5 different countries, therefore I am very comfortable in 
        international and diverse settings. With over 7 years experience in commercial roles and 8 years 
        in technical positions, I can go deep on technical matters while building strong customer 
        relationships. I have mastered full stack web development and data science, the latter through 
        a PhD in time series forecasting. From customers interaction and giving lectures, I have developed 
        a unique communication skillset with a mix of the latest technologies and innovative workshop 
        techniques like design thinking and game storming. Finally, I have a strong methodology for 
        project management and getting things done.
    </p>
    <hr />
</p>

{% for post in site.posts %}

<p>
    <a href="{{post.url}}">
        {{ post.title }}<span style="font-size: 50%;">{{ page.date | date: '%B %d, %Y' }}</span>
    </a>
</p>
<p>
    {{post.content | truncatewords: 50 }}
</p>

{% endfor %}
